@using QEQB05.Models;
@{
    ViewBag.Title = "ABMPersonajes";
}

<link rel="stylesheet" href="~/Content/AdminPers.css">


<h2 >Administrar personajes</h2>

<br />@Html.ActionLink("Agregar personaje", "EdicionPersonajes", "Backoffice", new { Id = -1, Accion = "Insertar"}, null)<br /><br />
<table style="width:100%">
    <tr>
        <th>Nombre</th>
        <th>Foto</th>

    </tr>
    @for (int i = 0; i < ViewBag.ListaPersonajes.Count; i++)
    {

        <tr>
            <th>@ViewBag.ListaPersonajes[i].Nombre</th>
            <th><img class="icon-prev" src="@ViewBag.ListaUrlDataImagenes[i]" alt="@ViewBag.ListaPersonajes[i].Nombre" height="40" width="40" /></th>
            <th>@Html.ActionLink("Ver", "EdicionPersonajes", "Backoffice", new { Accion = "Ver", Id = ViewBag.ListaPersonajes[i].Id }, null)</th>
            <th>@Html.ActionLink("Editar", "EdicionPersonajes", "Backoffice", new { Accion = "Modificar", Id = ViewBag.ListaPersonajes[i].Id }, null)</th>
            <th>@Html.ActionLink("Eliminar", "EdicionPersonajes", "Backoffice", new { Accion = "Eliminar", Id = ViewBag.ListaPersonajes[i].Id }, null)</th>
        </tr>

    }
</table>
