@using QEQB05.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Menú</h2>

@Html.ActionLink("Administrar personajes", "AdminPersonajes", "Backoffice")
@Html.ActionLink("Administrar preguntas", "AdminPreguntas", "Backoffice")
@Html.ActionLink("Administrar usuarios", "AdminUsuarios", "Backoffice")
@Html.ActionLink("Administrar categorías de personajes", "AdminCatPersonajes", "Backoffice")
@Html.ActionLink("Administrar categorías de preguntas", "AdminCatPreguntas", "Backoffice")




