@using QEQB05.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Menú</h2>


<p><a href="@Url.Action("ABMPersonajes", "Backoffice")" class="btn btn-primary btn-lg">Administrar personajes&raquo;</a></p>
<p><a href="@Url.Action("ABMPreguntas", "Backoffice")" class="btn btn-primary btn-lg">Administrar preguntas &raquo;</a></p>
<p><a href="@Url.Action("HacerAdmin", "Backoffice")" class="btn btn-primary btn-lg">Hacer a usuarios Admin &raquo;</a></p>
<p><a href="@Url.Action("ABMCatPersonajes", "Backoffice")" class="btn btn-primary btn-lg">Administrar categorías de personajes &raquo;</a></p>
<p><a href="@Url.Action("ABMCatPreguntas", "Backoffice")" class="btn btn-primary btn-lg">Administrar categorías de preguntas &raquo;</a></p>
<p><a href="@Url.Action("CargarRespuestas", "Backoffice")" class="btn btn-primary btn-lg">Cargar respuestas &raquo;</a></p>



